---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="About" description="Sebuah deskripsi tentang Ahmeng Labs." keywords={["about", "tentang", "ahmeng", "ahmeng labs", "ahmenglabs", "programming", "cyber security"]}>
  <Navbar />
  <div class="container py-4 py-xl-5">
    <div class="row mb-5">
      <div class="col-12">
        <h1 class="text-center mb-4">About</h1>
        <p class="lead fw-normal text-center">Sebuah deskripsi tentang Ahmeng Labs.</p>
      </div>
    </div>

    <p class="lead fw-normal">
      Ahmeng Labs adalah sebuah circle yang isinya orang-orang saling kenal, memiliki selera humor yang sama, dan memiliki tujuan untuk menjadi hekel. Ahmeng Labs didirikan pada
      pertengahan bulan Juni 2025. Ide pendirian ini muncul ketika kami selesai discord semalamanan (sekitar 04.30 AM) dan mau tidur.
    </p>

    <p class="lead fw-normal"></p>
    <p class="lead fw-normal">
      Niat awalnya sih mau melakukan hal serius, tapi kenyataannya jarang ada waktu luang. Jadi lebih sering mengobrol, saling kirim link, dan ga tau ngapain lagi. Nama “Ahmeng”
      sendiri itu absurd dan random banget, nama ini muncul out of nowhere ketika kami masih SMK.
    </p>
    <p class="lead fw-normal"></p>
    <p class="lead fw-normal">Sekarang kami nggak lagi sibuk nyari member, tapi kalau ada yang mau join dan ngerasa cocok, ya bisa dipertimbangin.</p>
    <p class="lead fw-normal">Syaratnya simpel:</p>
    <ol class="lead fw-normal">
      <li>punya selera humor yang jelek (you know what i mean)</li>
      <li>punya motivasi belajar secara mandiri (self-taught)</li>
      <li>memiliki motivasi aktif di group chat (lu ga seganteng itu untuk jadi orang yang dingin)</li>
    </ol>
    <p class="lead fw-normal">
      Kami bukan mencari orang yang benar-benar harus jago, pemula boleh asalkan memenuhi syarat di atas. Kami disini menggunakan sistem kepemimpinan anti mainstream. Disini bukan
      menggunakan sistem orang buta menuntun orang buta. Leader nggak dipilih lewat voting atau ditentukan siapa yang gabung duluan (bukan organisasi kampus bos). Siapa paling
      jago, dia yang otomatis jadi leader. Sesimpel itu.
    </p>
    <p class="lead fw-normal">
      Leader Ahmeng Labs saat ini adalah Andika Dinata. Sesosok manusia yang sangat humble, baik hati, dan suka menolong.
  </div>
  <Footer />
</Layout>
