---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="About" description="Tentang Ahmeng Labs" keywords={["about", "tentang", "ahmeng", "ahmeng labs", "ahmenglabs", "programming", "cyber security"]}>
  <Navbar />
  <div class="container py-4 py-xl-5">
    <p class="lead fw-normal">
      Ahmeng Labs didirikan pada pertengahan bulan Juni 2025. Ide pendirian ini muncul ketika kami mau tidur (sekitar 04.30 AM) setelah discord semalamanan.
    </p>
    <p class="lead fw-normal">
      Niat awalnya sih mau melakukan hal serius, tapi kenyataannya jarang ada waktu luang. Jadi lebih sering jadi tempat nongkrong online, sambil kadang-kadang ngoprek project atau
      belajar hal baru.
    </p>
    <p class="lead fw-normal">
      Nama “Ahmeng” sendiri itu absurd dan random banget, nama ini muncul out of nowhere ketika kami masih SMK. Untungnya, username <em>ahmenglabs</em> masih kosong di banyak platform,
      jadi kami langsung pakai buat nama komunitas hehe.
    </p>
    <p class="lead fw-normal">Sekarang kami nggak lagi sibuk nyari member, tapi kalau ada yang mau join dan ngerasa cocok, ya bisa dipertimbangin.</p>
    <p class="lead fw-normal">Syaratnya simpel:</p>
    <ol class="lead fw-normal">
      <li>punya selera humor yang jelek (you know what i mean)</li>
      <li>punya motivasi belajar secara mandiri (self-taught)</li>
      <li>aktif di group chat (lu ga seganteng itu untuk jadi orang yang dingin)</li>
    </ol>
    <p class="lead fw-normal">Kami bukan mencari orang yang benar-benar harus jago, pemula boleh asalkan memenuhi syarat sebelumnya.</p>
    <p class="lead fw-normal">
      Soal leader disini make sistem anti mainstream. Disini bukan menggunakan sistem orang buta menuntun orang buta.
    </p>
    <p class="lead fw-normal">
      Leader nggak dipilih lewat voting atau ditentukan siapa yang gabung duluan (bukan organisasi kampus bos).
    </p>
    <p class="lead fw-normal">
      Siapa paling jago, dia yang otomatis jadi leader. Sesimpel itu.
    </p>
    <p class="lead fw-normal">
      Dan gw (Andika Dinata) berharap ada orang yang lebih jago dari gw mau gabung ke komunitas ini.
    </p>
  </div>
  <Footer />
</Layout>
