---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Achievement" description="Daftar pencapaian yang telah diraih oleh Ahmeng Labs" keywords={["achievement", "pencapaian", "ahmeng", "ahmeng labs", "ahmenglabs", "programming", "cyber security"]}>
  <Navbar />
  <div class="container py-4 py-xl-5">
    <h2 class="text-center">TODO: Hehehe</h2>
  </div>
  <Footer />
</Layout>
