---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import heheImage from "../assets/hehe.jpg"
---

<Layout title="Ahmeng Labs">
    <Navbar />
    <div class="container py-4 py-xl-5">
      <div class="row gy-4 gy-md-0">
        <div class="col-md-6 border border-1 border-black">
          <img class="rounded img-fluid object-fit-cover w-100" src={heheImage.src} alt="Hehe" />
        </div>
        <div class="col-md-6 col-xl-6 d-md-flex align-items-md-center">
          <div>
            <h1>Ahmeng Labs</h1>
            <p class="lead fs-3 fst-italic">Singkatnya ini adalah sebuah perkumpulan orang-orang newbie yang berusaha ingin berkembang.</p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
</Layout>
