---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Projects">
  <Navbar />
  <div class="container py-4 py-xl-5"></div>
  <Footer />
</Layout>
