---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Projects" description="Daftar project yang telah dibuat oleh Ahmeng Labs" keywords={["projects", "project", "ahmeng", "ahmeng labs", "ahmenglabs", "programming", "cyber security"]}>
  <Navbar />
  <div class="container py-4 py-xl-5">
    <div class="row mb-5">
      <div class="col-12">
        <h1 class="text-center mb-4">Projects</h1>
        <p class="lead fw-normal text-center">Daftar projects yang telah dibuat oleh Ahmeng Labs.</p>
      </div>
    </div>

    <!-- TODO: Membuat halaman projects.` -->
  </div>
  <Footer />
</Layout>
