---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Projects" description="Daftar project yang telah dibuat oleh Ahmeng Labs" keywords={["projects", "project", "ahmeng", "ahmeng labs", "ahmenglabs", "programming", "cyber security"]}>
  <Navbar />
  <div class="container py-4 py-xl-5">
    <h2 class="text-center">TODO: Hehehe</h2>
  </div>
  <Footer />
</Layout>
