---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro"
---

<Navbar />
<div class="container mt-5">
    <h2 class="text-center">About</h2>
    <p class="lead" style="text-align: justify; text-justify: inter-word; hyphens: auto; word-break: break-word;">
        Ahmeng Labs adalah sebuah perkumpulan orang-orang newbie. Ahmeng Labs
        tidak memiliki tujuan serius. Ahmeng Labs bukan sebuah organisasi, jadi
        tidak memiliki struktur organisasi seperti ketua, sekertaris, bendahara,
        or something. Ahmeng Labs juga bukan komunitas terbuka, jadi tidak
        memiliki sebuah server di aplikasi circle. Ahmeng Labs hanyalah sebuah
        kelompok kecil yang tidak memiliki project apa-apa.
    </p>
    <p class="lead" style="text-align: justify; text-justify: inter-word; hyphens: auto; word-break: break-word;">
        Kalau kamu merasa Ahmeng Labs adalah sebuah saingan dan kamu ingin
        menantang kami adu programming atau adu hacking. Dengan berat hati, kami
        akan menolak dan menyerah lebih awal. Bukan karena kami merendah. Tapi
        karena memang kami bukan orang-orang jago, jadi ya memang cupu hehe.
    </p>
    <blockquote class="blockquote text-end mt-5">
        <p>Your skills shine brightest when you don't use them to outshine others.</p>
    </blockquote>
    <figcaption class="blockquote-footer text-end">
        Orang Misterius
      </figcaption>
</div>
<Footer/>