---
import Navbar from "./Navbar.astro"
import Footer from "./Footer.astro"
---

<Navbar />
<div class="container mt-5">
  <h2 class="text-center">Members</h2>
  <p class="lead text-center">Ada beberapa member di dalam kelompok ini. Memang isinya cuma sedikit hehe.</p>

  <div class="row g-4">
    <!-- Member 1 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center">
        <img
          src="https://avatars.githubusercontent.com/u/73385158?v=4"
          class="card-img-top rounded-circle mx-auto mt-3"
          alt="Foto Andika Dinata"
          style="width: 150px; height: 150px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">Andika Dinata</h5>
          <p class="card-text fst-italic">
            “Of course I'll hurt you. Of course you'll hurt me. Of course we will hurt each other. But this is the very condition of existence. To become spring, means accepting
            the risk of winter. To become presence, means accepting the risk of absence.” <strong>― Antoine de Saint-Exupéry</strong>
          </p>
        </div>
        <div class="card-footer bg-white border-0">
          <a href="https://instagram.com/andikadinata.exe" target="_blank" class="text-dark fs-4 me-3" style="text-decoration: none;">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://linkedin.com/in/andikadinata" target="_blank" class="text-dark fs-4 me-3" style="text-decoration: none;">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://github.com/notmuehehe" target="_blank" class="text-dark fs-4" style="text-decoration: none;">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Member 2 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center">
        <img
          src="https://avatars.githubusercontent.com/u/154386191?v=4"
          class="card-img-top rounded-circle mx-auto mt-3"
          alt="Foto Aqil Fadhil Murbantresna"
          style="width: 150px; height: 150px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">Aqil Fadhil Murbantresna</h5>
          <p class="card-text fst-italic">"Hanya seorang mahasiswa biasa yang suka ngoding"</p>
        </div>
        <div class="card-footer bg-white border-0">
          <a href="https://www.instagram.com/aqilstillalive._" target="_blank" class="text-dark fs-4 me-3" style="text-decoration: none;">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://github.com/aqilfadhil1225" target="_blank" class="text-dark fs-4" style="text-decoration: none;">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Member 3 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center">
        <img
          src="https://avatars.githubusercontent.com/u/93093757?v=4"
          class="card-img-top rounded-circle mx-auto mt-3"
          alt="Foto Muhammad Defrizal"
          style="width: 150px; height: 150px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">Muhammad Defrizal</h5>
          <p class="card-text fst-italic">"Hidup menjadi seorang stoicism tidak menantang, karena kesannya menyerah pada keadaan."</p>
        </div>
        <div class="card-footer bg-white border-0">
          <a href="https://www.instagram.com/mhmddefrizal/" target="_blank" class="text-dark fs-4 me-3" style="text-decoration: none;">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/muhammad-defrizal-30786634a/" target="_blank" class="text-dark fs-4 me-3" style="text-decoration: none;">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://github.com/mhmddefrizal" target="_blank" class="text-dark fs-4" style="text-decoration: none;">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Member 4 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center">
        <img
          src="https://avatars.githubusercontent.com/u/88768457?v=4"
          class="card-img-top rounded-circle mx-auto mt-3"
          alt="Foto Aziz Prayoga"
          style="width: 150px; height: 150px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">Aziz Prayoga</h5>
          <p class="card-text fst-italic">(Isi bebas bang)</p>
        </div>
        <div class="card-footer bg-white border-0">
          <a href="https://www.instagram.com/azizprayoga2023/" target="_blank" class="text-dark fs-4 me-3" style="text-decoration: none;">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
                        href="https://www.linkedin.com/in/username"
                        target="_blank"
                        class="text-dark fs-4 me-3"
                        style="text-decoration: none;"
                    >
                        <i class="fa-brands fa-linkedin"></i>
                    </a> -->
          <a href="https://github.com/AzizPrayoga1" target="_blank" class="text-dark fs-4" style="text-decoration: none;">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Member 5 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center">
        <img
          src="https://avatars.githubusercontent.com/u/75117824?v=4"
          class="card-img-top rounded-circle mx-auto mt-3"
          alt="Foto Dzakwan Akbar Perdana Wijaya"
          style="width: 150px; height: 150px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">Dzakwan Akbar Perdana Wijaya</h5>
          <p class="card-text fst-italic">"Nonchalant"</p>
        </div>
        <div class="card-footer bg-white border-0">
          <a href="https://www.instagram.com/dzkwnakbr/" target="_blank" class="text-dark fs-4 me-3" style="text-decoration: none;">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/dzakwanakbar/" target="_blank" class="text-dark fs-4 me-3" style="text-decoration: none;">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://github.com/dzkwanakbr" target="_blank" class="text-dark fs-4" style="text-decoration: none;">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Member 6 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center">
        <img
          src="https://avatars.githubusercontent.com/u/162379600?v=4"
          class="card-img-top rounded-circle mx-auto mt-3"
          alt="Foto Naufaldi Favian Archi"
          style="width: 150px; height: 150px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">Naufaldi Favian Archi</h5>
          <p class="card-text fst-italic">(Isi bebas bang)</p>
        </div>
        <div class="card-footer bg-white border-0">
          <a href="https://www.instagram.com/naufaldiiii/" target="_blank" class="text-dark fs-4 me-3" style="text-decoration: none;">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/naufaldi-favian-archi-706a782a3/" target="_blank" class="text-dark fs-4 me-3" style="text-decoration: none;">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://github.com/NaufaldiFavianArchi" target="_blank" class="text-dark fs-4" style="text-decoration: none;">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Member 7 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center">
        <img
          src="https://avatars.githubusercontent.com/u/151052021?v=4"
          class="card-img-top rounded-circle mx-auto mt-3"
          alt="Sadewa Abidzal Gifari"
          style="width: 150px; height: 150px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">Sadewa Abidzal Gifari</h5>
          <p class="card-text fst-italic">(Isi bebas bang)</p>
        </div>
        <div class="card-footer bg-white border-0">
          <!-- <a
                        href="https://www.instagram.com/username"
                        target="_blank"
                        class="text-dark fs-4 me-3"
                        style="text-decoration: none;"
                    >
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a
                        href="https://www.linkedin.com/in/username"
                        target="_blank"
                        class="text-dark fs-4 me-3"
                        style="text-decoration: none;"
                    >
                        <i class="fa-brands fa-linkedin"></i>
                    </a> -->
          <a href="https://github.com/Dewa-Gifari" target="_blank" class="text-dark fs-4" style="text-decoration: none;">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<Footer />
