<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <h1 class="navbar-brand">Ahmeng Labs</h1>
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
                <a class="nav-link me-4" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members">Members</a>
            </li>
        </ul>
    </div>
</nav>