---
import logo from '../assets/logo.png';
---

<div class="container">
  <nav class="navbar navbar-expand-md bg-body">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src={logo.src} alt="Ahmeng Labs" height="40" /></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"
        ><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button
      >
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav fs-3 d-flex gap-2 ms-auto">
          <li class="nav-item"><a class="nav-link" href="/about">about</a></li>
          <li class="nav-item"><a class="nav-link" href="/members">members</a></li>
          <li class="nav-item"><a class="nav-link" href="/projects">projects</a></li>
          <li class="nav-item"><a class="nav-link" href="/achievement">achievement</a></li>
          <li class="nav-item"><a class="nav-link" href="https://blog.ahmenglabs.codes" target="_blank">blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
